@model AtSepete.UI.Areas.Admin.Models.AdminVMs.AdminAdminDetailVM

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}



<div >
    <h4>Yönetici Detay</h4>
    <dl class="row">
        <div class="col col-md-10">
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SecondName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.SecondName)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SecondLastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.SecondLastName)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Adress)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Adress)
                </dd>
            </div>

            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </div>
            <div class="col col-md-12">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Role)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </div>

        </div>
        
    </dl>
</div>

